wf_internal.json
{
  "name": "FAQ Scraper - Internal Weekly",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [1], "triggerAtHour": 9, "triggerAtMinute": 0 }] }
      },
      "id": "node-schedule",
      "name": "Every Monday 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "name", "value": "Kynection Competitor URLs" },
        "sheetName":  { "__rl": true, "mode": "name", "value": "Sheet1" },
        "options": {}
      },
      "id": "node-read-source",
      "name": "Read Competitor URLs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "2s5JFyCmCO8lJKu4", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "jsCode": "// Collect all FAQ and blog URLs from the source sheet\n// Columns: A=Homepage, B=FAQ URL, C=Blog URL\nconst urls = [];\nfor (const item of $input.all()) {\n  const faq  = (item.json['FAQ URL']  || item.json.B || '').trim();\n  const blog = (item.json['Blog URL'] || item.json.C || '').trim();\n  if (faq  && faq.startsWith('http'))  urls.push(faq);\n  if (blog && blog.startsWith('http')) urls.push(blog);\n}\nif (urls.length === 0) {\n  throw new Error('No FAQ/blog URLs found in source sheet');\n}\nreturn [{ json: { urls: urls.join(',') } }];"
      },
      "id": "node-build-urls",
      "name": "Build URL List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aos4gsswcog44sc04okwc000.intelligentresources.app/scrape",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ urls: $json.urls, no_discovery: true }) }}",
        "options": {}
      },
      "id": "node-start-scrape",
      "name": "Start Scrape Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300]
    },
    {
      "parameters": { "resume": "timeInterval", "amount": 30, "unit": "seconds" },
      "id": "node-wait",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1160, 300],
      "webhookId": "c1d2e3f4-a5b6-7890-cdef-123456789abc"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://aos4gsswcog44sc04okwc000.intelligentresources.app/result/' + $('Start Scrape Job').item.json.job_id }}",
        "options": {}
      },
      "id": "node-poll",
      "name": "Poll Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "c1", "leftValue": "={{ $json.status }}", "rightValue": "processing", "operator": { "type": "string", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-still-processing",
      "name": "Still Processing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1640, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "c2", "leftValue": "={{ $json.found }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-faqs-found",
      "name": "FAQs Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1880, 300]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "name", "value": "Competitor FAQs" },
        "sheetName":  { "__rl": true, "mode": "name", "value": "Sheet1" },
        "options": {}
      },
      "id": "node-read-existing",
      "name": "Read Existing FAQs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2120, 180],
      "credentials": { "googleSheetsOAuth2Api": { "id": "2s5JFyCmCO8lJKu4", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "jsCode": "// Build set of existing competitor::question keys\nconst existingRows = $('Read Existing FAQs').all();\nconst existingKeys = new Set();\nfor (const row of existingRows) {\n  const competitor = (row.json.Competitor || '').toLowerCase().trim();\n  const question   = (row.json.Question   || '').toLowerCase().replace(/[^\\w\\s]/g, '').replace(/\\s+/g, ' ').trim();\n  existingKeys.add(`${competitor}::${question}`);\n}\n\n// Get new FAQs from poll result\nconst newFaqs = $('Poll Result').item.json.faqs || [];\n\n// Keep only FAQs not already in the sheet\nconst toAdd = newFaqs.filter(faq => {\n  const competitor = (faq.competitor || '').toLowerCase().trim();\n  const question   = (faq.question   || '').toLowerCase().replace(/[^\\w\\s]/g, '').replace(/\\s+/g, ' ').trim();\n  return !existingKeys.has(`${competitor}::${question}`);\n});\n\nif (toAdd.length === 0) {\n  return [{ json: { new_count: 0, rows: [] } }];\n}\n\nreturn [{ json: { new_count: toAdd.length, rows: toAdd } }];"
      },
      "id": "node-dedup",
      "name": "Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2360, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "c3", "leftValue": "={{ $json.new_count }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-has-new",
      "name": "New FAQs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2600, 180]
    },
    {
      "parameters": {
        "jsCode": "// Format deduplicated FAQs as sheet rows\nconst rows = $input.item.json.rows || [];\nreturn rows.map(faq => ({\n  json: {\n    Competitor:   faq.competitor,\n    'Source URL': faq.source_url,\n    Question:     faq.question,\n    Answer:       faq.answer,\n    'Date First Seen': faq.date\n  }\n}));"
      },
      "id": "node-format-rows",
      "name": "Format Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2840, 100]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "name", "value": "Competitor FAQs" },
        "sheetName":  { "__rl": true, "mode": "name", "value": "Sheet1" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Competitor":        "={{ $json.Competitor }}",
            "Source URL":        "={{ $json['Source URL'] }}",
            "Question":          "={{ $json.Question }}",
            "Answer":            "={{ $json.Answer }}",
            "Date First Seen":   "={{ $json['Date First Seen'] }}"
          }
        },
        "options": {}
      },
      "id": "node-append",
      "name": "Append to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [3080, 100],
      "credentials": { "googleSheetsOAuth2Api": { "id": "2s5JFyCmCO8lJKu4", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "jsCode": "// Build notification email body\nconst rows = $('Deduplicate').item.json.rows || [];\nconst count = rows.length;\n\nlet listHtml = rows.slice(0, 20).map(faq =>\n  `<li><strong>${faq.competitor}</strong> — ${faq.question}</li>`\n).join('\\n');\n\nif (rows.length > 20) {\n  listHtml += `<li><em>...and ${rows.length - 20} more</em></li>`;\n}\n\nconst html = `<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;line-height:1.5;color:#333\">\n<h2>Weekly FAQ Update — ${count} new FAQ${count !== 1 ? 's' : ''} added</h2>\n<p>The weekly competitor FAQ scraper ran and found <strong>${count} new Q&amp;A pair${count !== 1 ? 's' : ''}</strong> that were not in the sheet.</p>\n<ul>${listHtml}</ul>\n<p><a href=\"https://docs.google.com/spreadsheets\" style=\"color:#FF7433\">Open Competitor FAQs sheet →</a></p>\n<hr style=\"border:none;border-top:1px solid #eee\">\n<p style=\"font-size:12px;color:#999\">Intelligent Resources — Weekly Competitor FAQ Scraper</p>\n</body></html>`;\n\nreturn [{ json: { html, count } }];"
      },
      "id": "node-build-email",
      "name": "Build Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, 280]
    },
    {
      "parameters": {
        "sendTo": "accounts@intelligentresourcing.co",
        "subject": "={{ '🔔 ' + $('Deduplicate').item.json.new_count + ' new competitor FAQ' + ($('Deduplicate').item.json.new_count !== 1 ? 's' : '') + ' added this week' }}",
        "message": "={{ $json.html }}",
        "options": { "appendAttribution": false }
      },
      "id": "node-notify",
      "name": "Send Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [3320, 280],
      "credentials": { "gmailOAuth2": { "id": "WBg8j6jRwooHB9oX", "name": "Ronan Email OAuth" } }
    }
  ],
  "connections": {
    "Every Monday 9am":   { "main": [[{ "node": "Read Competitor URLs", "type": "main", "index": 0 }]] },
    "Read Competitor URLs":{ "main": [[{ "node": "Build URL List",       "type": "main", "index": 0 }]] },
    "Build URL List":     { "main": [[{ "node": "Start Scrape Job",      "type": "main", "index": 0 }]] },
    "Start Scrape Job":   { "main": [[{ "node": "Wait 30s",              "type": "main", "index": 0 }]] },
    "Wait 30s":           { "main": [[{ "node": "Poll Result",           "type": "main", "index": 0 }]] },
    "Poll Result":        { "main": [[{ "node": "Still Processing?",     "type": "main", "index": 0 }]] },
    "Still Processing?":  { "main": [
      [{ "node": "Wait 30s",    "type": "main", "index": 0 }],
      [{ "node": "FAQs Found?", "type": "main", "index": 0 }]
    ]},
    "FAQs Found?": { "main": [
      [{ "node": "Read Existing FAQs", "type": "main", "index": 0 }],
      []
    ]},
    "Read Existing FAQs": { "main": [[{ "node": "Deduplicate",      "type": "main", "index": 0 }]] },
    "Deduplicate":        { "main": [[{ "node": "New FAQs?",         "type": "main", "index": 0 }]] },
    "New FAQs?": { "main": [
      [{ "node": "Format Rows",      "type": "main", "index": 0 }],
      []
    ]},
    "Format Rows":        { "main": [[{ "node": "Append to Sheet",   "type": "main", "index": 0 }]] },
    "Append to Sheet":    { "main": [[{ "node": "Build Notification", "type": "main", "index": 0 }]] },
    "Build Notification": { "main": [[{ "node": "Send Notification",  "type": "main", "index": 0 }]] },
    "Send Notification":  { "main": [[]] }
  },
  "settings": { "executionOrder": "v1" }
}
