wf_put.json
{
  "name": "FAQ Scraper - Lead Magnet",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "faq-scraper", "options": {} },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [208, 304],
      "webhookId": "f167b836-ce84-4e84-a455-15bb00560849"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a2", "name": "urls",  "value": "={{ $json.body.urls }}",  "type": "string" },
            { "id": "a3", "name": "email", "value": "={{ $json.body.email }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-set",
      "name": "Prepare Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [448, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aos4gsswcog44sc04okwc000.intelligentresources.app/scrape",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ urls: $('Prepare Variables').item.json.urls }) }}",
        "options": {}
      },
      "id": "node-start-scrape",
      "name": "Start Scrape Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [688, 304]
    },
    {
      "parameters": { "resume": "timeInterval", "amount": 10, "unit": "seconds" },
      "id": "node-wait",
      "name": "Wait 10s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [928, 304],
      "webhookId": "b3c4d5e6-f7a8-9012-bcde-f34567890abc"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://aos4gsswcog44sc04okwc000.intelligentresources.app/result/' + $('Start Scrape Job').item.json.job_id }}",
        "options": {}
      },
      "id": "node-poll",
      "name": "Poll Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1168, 304]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-processing",
              "leftValue": "={{ $json.status }}",
              "rightValue": "processing",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check-processing",
      "name": "Still Processing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1408, 304]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if",
      "name": "FAQs Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1648, 304]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nconst csvBase64 = item.json.csv;\nconst email = $('Prepare Variables').item.json.email;\n\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(csvBase64, 'base64'),\n  'competitor-faqs.csv',\n  'text/csv'\n);\n\nreturn [{\n  json: { email },\n  binary: { 'competitor-faqs': binaryData }\n}];"
      },
      "id": "node-code",
      "name": "Decode CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1888, 180]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Your Competitor FAQ Report is Ready",
        "message": "<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>Your Competitor FAQ Report</title></head><body style=\"font-family: Arial, sans-serif; line-height: 1.5; color: #333;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ddd;\"><tr><td style=\"padding: 20px; background-color: #ffffff;\"><p>Hi there,</p><p>Thanks for using our free FAQ report tool. Your competitor FAQ data is attached to this email as a CSV file.</p><p>It includes every question and answer we found on the pages you submitted. Open it in Excel or Google Sheets to get started.</p><p>If you have questions or want a more in-depth analysis, just reply to this email.</p></td></tr><tr><td style=\"padding: 20px; background-color: #FF7433; text-align: center;\"><p style=\"color: white; margin: 0;\">Best regards,</p><p style=\"color: white; margin: 4px 0 0;\"><strong>The Intelligent Resources Team</strong></p></td></tr></table></body></html>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": { "attachmentsBinary": [{ "property": "competitor-faqs" }] }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [2128, 180],
      "id": "node-gmail-found",
      "name": "Send Report",
      "webhookId": "15129383-0730-40e3-80fb-146dea4d62ea",
      "credentials": { "gmailOAuth2": { "id": "WBg8j6jRwooHB9oX", "name": "Ronan Email OAuth" } }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Prepare Variables').item.json.email }}",
        "subject": "About your Competitor FAQ Report",
        "message": "<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>About your Competitor FAQ Report</title></head><body style=\"font-family: Arial, sans-serif; line-height: 1.5; color: #333;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ddd;\"><tr><td style=\"padding: 20px; background-color: #ffffff;\"><p>Hi there,</p><p>We ran the report on the URLs you submitted, but we couldn't find any FAQ content on those pages.</p><p>This usually happens when:</p><ul><li>The URL points to a homepage rather than a specific FAQ or Help page</li><li>The FAQ content is loaded dynamically (JavaScript-rendered)</li><li>The page doesn't have a dedicated FAQ section</li></ul><p>Try resubmitting with the direct URL of the FAQ or Help page, for example:<br><em>example.com/faq</em> or <em>example.com/help</em></p><p>If you need a hand finding the right URLs, just reply and we'll help you out.</p></td></tr><tr><td style=\"padding: 20px; background-color: #FF7433; text-align: center;\"><p style=\"color: white; margin: 0;\">Best regards,</p><p style=\"color: white; margin: 4px 0 0;\"><strong>The Intelligent Resources Team</strong></p></td></tr></table></body></html>",
        "options": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1888, 460],
      "id": "node-gmail-notfound",
      "name": "Send No-Data Email",
      "webhookId": "0cb8d679-b2f6-41e1-ae89-70d9e037ee7b",
      "credentials": { "gmailOAuth2": { "id": "WBg8j6jRwooHB9oX", "name": "Ronan Email OAuth" } }
    }
  ],
  "connections": {
    "Webhook":           { "main": [[{ "node": "Prepare Variables",  "type": "main", "index": 0 }]] },
    "Prepare Variables": { "main": [[{ "node": "Start Scrape Job",   "type": "main", "index": 0 }]] },
    "Start Scrape Job":  { "main": [[{ "node": "Wait 10s",           "type": "main", "index": 0 }]] },
    "Wait 10s":          { "main": [[{ "node": "Poll Result",        "type": "main", "index": 0 }]] },
    "Poll Result":       { "main": [[{ "node": "Still Processing?",  "type": "main", "index": 0 }]] },
    "Still Processing?": {
      "main": [
        [{ "node": "Wait 10s",    "type": "main", "index": 0 }],
        [{ "node": "FAQs Found?", "type": "main", "index": 0 }]
      ]
    },
    "FAQs Found?": {
      "main": [
        [{ "node": "Decode CSV",         "type": "main", "index": 0 }],
        [{ "node": "Send No-Data Email", "type": "main", "index": 0 }]
      ]
    },
    "Decode CSV":         { "main": [[{ "node": "Send Report", "type": "main", "index": 0 }]] },
    "Send Report":        { "main": [[]] },
    "Send No-Data Email": { "main": [[]] }
  },
  "settings": { "executionOrder": "v1" }
}
