workflow_patch.json
{
  "name": "FAQ Scraper - Lead Magnet",
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "path": "faq-scraper",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "node-set",
      "name": "Prepare Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a2", "name": "urls", "value": "={{ $json.body.urls }}", "type": "string" },
            { "id": "a3", "name": "email", "value": "={{ $json.body.email }}", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-http",
      "name": "Call Scraper API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "https://aos4gsswcog44sc04okwc000.intelligentresources.app/scrape",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ urls: $json.urls }) }}",
        "options": {
          "response": { "response": { "responseFormat": "file", "outputPropertyName": "data" } },
          "timeout": 300000
        }
      }
    },
    {
      "id": "node-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [920, 300],
      "parameters": {
        "fromEmail": "noreply@intelligentresources.app",
        "toEmail": "={{ $(\"Prepare Variables\").item.json.email }}",
        "subject": "Your Competitor FAQ Report is Ready",
        "emailFormat": "html",
        "html": "<h2>Your Competitor FAQ Report</h2><p>Hi there,</p><p>Your competitor FAQ report is attached. Use these insights to create content that directly answers what your audience is searching for.</p><br><p><em>— Intelligent Resources</em></p>",
        "attachments": "data",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Prepare Variables", "type": "main", "index": 0 }]]
    },
    "Prepare Variables": {
      "main": [[{ "node": "Call Scraper API", "type": "main", "index": 0 }]]
    },
    "Call Scraper API": {
      "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]]
    }
  }
}
